<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="hu.bme.mit.viatra.ttc.dse.queries.Queries" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.viatra.ttc.dse.queries.Queries" id="hu.bme.mit.viatra.ttc.dse.queries.Queries"/>
  </extension>
  <extension
        id="application"
        name="TTC CRA application"
        point="org.eclipse.core.runtime.applications">
     <application
           cardinality="singleton-global"
           thread="main"
           visible="true">
        <run
              class="hu.bme.mit.viatra.ttc.dse.CraDseEclipseRunner">
        </run>
     </application>
  </extension>
  <extension
        id="product"
        name="TTC CRA product"
        point="org.eclipse.core.runtime.products">
     <product
           application="hu.bme.mit.viatra.ttc.dse.application"
           name="CRA solver">
        <property
              name="appName"
              value="CRA solver">
        </property>
     </product>
  </extension>
</plugin>
