/AttributeProcessor.java
/AttributeQuerySpecification.java
/EncapsulatedFeatureProcessor.java
/EncapsulatedFeatureQuerySpecification.java
/EncapsulatedProcessor.java
/EncapsulatedQuerySpecification.java
/FeatureProcessor.java
/FeatureQuerySpecification.java
/MethodProcessor.java
/MethodQuerySpecification.java
/NotEncapsulatedFeatureProcessor.java
/NotEncapsulatedFeatureQuerySpecification.java
/AddFeatureProcessor.java
/AddFeatureQuerySpecification.java
/AllFeatureEncapsulatedProcessor.java
/AllFeatureEncapsulatedQuerySpecification.java
/CreateClassProcessor.java
/CreateClassQuerySpecification.java
/CreateClassWithFeautreProcessor.java
/CreateClassWithFeautreQuerySpecification.java
/DmaProcessor.java
/DmaQuerySpecification.java
/DmmProcessor.java
/DmmQuerySpecification.java
/EmptyClassProcessor.java
/EmptyClassQuerySpecification.java
/MaiPartialProcessor.java
/MaiPartialQuerySpecification.java
/MaiProcessor.java
/MaiQuerySpecification.java
/MergeClassesProcessor.java
/MergeClassesQuerySpecification.java
/MmiPartialProcessor.java
/MmiPartialQuerySpecification.java
/MmiProcessor.java
/MmiQuerySpecification.java
/NoEmptyClassProcessor.java
/NoEmptyClassQuerySpecification.java
/SortClassProcessor.java
/SortClassQuerySpecification.java
