/AttributeMatch.java
/AttributeMatcher.java
/EncapsulatedFeatureMatch.java
/EncapsulatedFeatureMatcher.java
/EncapsulatedMatch.java
/EncapsulatedMatcher.java
/FeatureMatch.java
/FeatureMatcher.java
/MethodMatch.java
/MethodMatcher.java
/NotEncapsulatedFeatureMatch.java
/NotEncapsulatedFeatureMatcher.java
/AddFeatureMatch.java
/AddFeatureMatcher.java
/AllFeatureEncapsulatedMatch.java
/AllFeatureEncapsulatedMatcher.java
/CreateClassMatch.java
/CreateClassMatcher.java
/CreateClassWithFeautreMatch.java
/CreateClassWithFeautreMatcher.java
/DmaMatch.java
/DmaMatcher.java
/DmmMatch.java
/DmmMatcher.java
/EmptyClassMatch.java
/EmptyClassMatcher.java
/MaiMatch.java
/MaiMatcher.java
/MaiPartialMatch.java
/MaiPartialMatcher.java
/MergeClassesMatch.java
/MergeClassesMatcher.java
/MmiMatch.java
/MmiMatcher.java
/MmiPartialMatch.java
/MmiPartialMatcher.java
/NoEmptyClassMatch.java
/NoEmptyClassMatcher.java
/Queries.java
/SortClassMatch.java
/SortClassMatcher.java
